html, body
{   
    color: rgb(4, 12, 120); 
    font: 12px;
    font-family:"Open Sans", sans-serif;
}
.container{
    background-color: rgb(227, 227, 227);
    margin-left: 120px;
    margin-right: 120px;
    padding: auto;
}
.rectangle{
    background-color: yellow;
    margin-left: 100px;
    margin-right: 100px;
    padding: auto;
}
h1{
    font-size: 70px;
    text-align: center;
} 
h2,p{
    text-align: center;
}
.main-box{
    text-align: left;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image-text{
    text-align: center;
}
.footer{
    background-color: beige;
    margin-right: 100px;
    margin-left: 100px;
}